@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  background: #111827;
}

:root {
  --color-bg: #ffffff;
  --color-bg-dark: #111827;
  --color-card: #f9fafb;
  --color-card-dark: #1f2937;

  --color-text: #f9fafb;
  --color-text-secondary: #9ca3af;
  --color-text-muted: #6b7280;

  --color-success: #10b981;
  --color-success-dark: #059669;

  --color-border: #e5e7eb;
  --color-border-dark: #374151;
  --color-shadow: rgba(0, 0, 0, 0.25);

  --color-primary: #3b82f6;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease forwards;
}

.animate-slide-up {
  animation: slide-up 0.3s ease forwards;
}

.modal-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.modal-scrollbar::-webkit-scrollbar-track {
  background: var(--color-card-dark);
  border-radius: 8px;
}

.modal-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-success-dark);
  border-radius: 8px;
  border: 2px solid var(--color-card-dark);
}

.modal-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-success);
}
